<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Title</title>
        <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDxfJmM7Uay_4I4TJ93ceWI6ac3tryk2Ek"></script>
        <style type="text/css">
            html {
                box-sizing: border-box;
            }
            *, *:before, *:after {
                box-sizing: inherit;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <div data-application></div>
        <script src="/scripts/bundle.js"></script>
    </body>
</html>
